@import url('https://fonts.googleapis.com/css?family=Tangerine');

body {
  overflow-x: hidden;
}

ul.ml-auto {
  margin-right: 2em;
 }

 .btn, .font-up, footer.page-footer .title {
  text-transform: inherit;
  color: cornflowerblue !important;
}

#banner {
  position: relative;
  height: calc(100vh - 58px);
  padding-top: 18%;
}

img.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

#banner>.container>.card {
  max-width: 35em;
  margin: auto;
  background: rgba(255, 255, 255, 0.91);
  text-align: center;
  font-family: 'Tangerine', cursive;
}

#banner>.container>.card p.btn {
  outline: 1px solid cornflowerblue !important;
  color: cornflowerblue !important;
  font-size: 1.4em;
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

#banner>.container>.card p.btn:hover {
  background: cornflowerblue;
  color: white !important;
}

#banner>.container>.card p.btn a {
  color: inherit;
}

#banner>.container>.card p.btn:active {
  border: 1px solid;
}

#list {
  padding: 2em 2%;
}

.card .ratings {
  text-align: center;
  display: inline-block;
  margin-right: 1em;
}
.card .ratings * {
  display: block;
}

.heading {
  padding-bottom: 1em;
}

.heading span {
  border-left: 2px solid;
  padding-left: 0.5em;
}

main > div.dual {
  height: 100vh;
}

main[page="details"] > div:nth-child(1) {
  position: relative;
  color: white;
}

main[page="details"] > div:nth-child(1) img.food {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  z-index: -1;
  overflow-y: hidden
}

main[page="details"] > div:nth-child(1):hover {
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

main[page="details"] > div:nth-child(2) {
  overflow-y: scroll;
  padding-top: 2.5em;
  margin-left: -0.8em;
}

main[page="details"] a.navbar-brand {
  color: white;
  font-size: 1.5em;
  margin: 1em 1em;
}

main[page="details"] span.food_name {
  position: absolute;
  bottom: 8em;
  left: 0em;
  background: rgba(0, 0, 0, 0.59);
  padding: 0.5em 1em;
}

main[page="details"] .food_vote {
  position: absolute;
  top: 10em;
  right: 10%;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 0.3em 2em;
  border-radius: 4px;
}

main[page="details"] .vote_type {
  display: block;
  text-align: center;
  margin-top: 2em;
}

main[page="details"] .vote_type * {
  display: block;
}

.steps .step_details {
  padding: 0 2em;
  border-left: 2px solid black;
  margin: 2em 0 2em 2em;
}

.step h5 {
  margin-top: 1em;
  margin-left: 0.5em;
  margin-bottom: -1em;
}

.nav.nav-tabs {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-tabs .nav-link {
  border-radius: 0;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  font-size: 0.9em;
  padding: 0.8em 2em;
}

.nav-tabs .nav-link.active {
  border-top: 2px solid red;
  border-bottom: 1px solid #dddddd;
}

[page="profile"] div.dual {
  height: calc(100vh - 65px);
}

[page="profile"] div.dual:first-child {
  background: antiquewhite;
}

[page="profile"] div.dual:first-child >.container {
  width: 80%;
}

[page="profile"] img.bg {
  -o-object-position: 0em -7em;
  object-position: 0em -7em;
  -webkit-filter: grayscale(0.6);
          filter: grayscale(0.6);
}

h1.name {
  font-size: 4em;
  padding: 0.7em 0em;
}

.name-desc {
  margin-top: -1em;
  font-size: 2em;
  font-family: tangerine;
}

.red-border-line {
  width: 10em;
  height: 3px;
  background: #E91E63;
  margin-bottom: 2em;
}

.social-icons {
  margin-top: 1.5em;
}

.social-icons a {
  margin-right: 1em;
  color: #424242;
}

[page="signup"] {
  padding: 4em 15em;
  background-image: url(../images/banner_bg.jpg);
  background-size: cover;
}

[page="signup"] .dual {
  height: 80vh;
}

[page="signup"] .dual:nth-child(2) {
  background: gainsboro;
  padding-top: 0em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.18);
}


.font-small {
  font-size: 0.8rem }

 .md-form {
    margin-bottom: 1em;
 }

 .btn.blue-gradient {
  background: -o-linear-gradient(50deg,#45cafc,#303f9f);
  background: linear-gradient(40deg,#45cafc,#303f9f);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.grey-text {
    margin-top: -2em;
    margin-right: 4em;
}
 
.sign{
  margin-top: -2em;
  height: calc(100vh - 70px);
}

#Form-pass1 {
  margin-bottom: 1em;
}

.form-elegant.btn {
  margin-top: -1.5em;

} 

.mb-3 {
    margin-top: -2em;
    padding-bottom: 1em;
}

.page-footer {
  text-align: center;
  padding-top: 2em !important;
  padding-bottom: 2em;
  color: wheat;
  background: -o-linear-gradient(50deg,#45cafc,#303f9f) ;
  background: -o-linear-gradient(50deg,#45cafc,#303f9f);
  background: linear-gradient(40deg,#45cafc,#303f9f);
}

.dashboard {
  padding-top: 2em;
  padding-bottom: 2em;
}

.mv-card {
  padding-bottom: 2em;
}

.recipe-header{
  padding-bottom: 2em;
}

.details-card {
  padding-top: 5em;
  padding-bottom: 10em;
  padding-left: -2px;
  padding-right: -2px;
}


@media screen and (max-width: 576px) { 
  #banner {
    padding-top: 50%
  }
 }